.navbar-container{
    background-color: #34496b;
    color: #04abeb;
}

.navContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    margin-left: 1rem;
}
